:root {
    --bg1-clr: #BEBAAE;
    --bg2-clr: white;
    --primary-clr: #CA0202;
    --text-clr: #000000;

    --fs-20: 2rem;
    --fs-30: 3rem;
    --fs-18: 1.8rem;
    --fs-64: 64rem;

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-900: 900;

    /* spacing */

    --section-padding: 4rem;

    /* border radius */

    --radius-circle: 50%;
    --radius-60: 6rem;
    --radius-50: 5rem;
    --radius-30: 3rem;
    --radius-20: 2rem;
    --radius-15: 1.5rem;
    --radius-5: .5rem;
    --radius-2: .2rem;

    /* transition */

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}

/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg2-clr);
    color: var(--text-clr);
    font-size: var(--fs-18);
    line-height: 1.6;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a,
img,
span,
button,
ion-icon {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}

ion-icon {
    pointer-events: none;
}

/*  */

.ll{
    font-size: var(--fs-20);
}









/* minhal */
/* body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
} */
.container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.imgContainer {
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 1s;
}

.slide_div {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin: 0px 30px 0px 30px;
    display: inline-block;
}

.img {
    height: 200px;
    width: 200px; 
    position: relative;
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.text-content{
  margin-top: 10px; 
}

.button {
    position: absolute;
    width: 240px;
    height: 370px;
    transition: 0.7s;
    
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#slider-1:target ~ .imgContainer #img1,
#slider-1:target ~ .imgContainer #button1 {
    width: auto;
    height: 400px; 
    background-color: transparent;
    filter: saturate(100%);
}


#slider-2:target ~ .imgContainer #img2,
#slider-2:target ~ .imgContainer #button2 {
    width:auto;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-3:target ~ .imgContainer #img3,
#slider-3:target ~ .imgContainer #button3 {
    width: auto;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-4:target ~ .imgContainer #img4,
#slider-4:target ~ .imgContainer #button4 {
    width:auto ;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-5:target ~ .imgContainer #img5,
#slider-5:target ~ .imgContainer #button5 {
    width: auto;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-6:target ~ .imgContainer #img6,
#slider-6:target ~ .imgContainer #button6 {
    width: auto;
    height: 400px; 
    background-color: transparent;
    filter: saturate(100%);
}
#slider-7:target ~ .imgContainer #img7,
#slider-7:target ~ .imgContainer #button7 {
    width:auto ;
    height: 400px; 
    background-color: transparent;
    filter: saturate(100%);
}
#slider-8:target ~ .imgContainer #img8,
#slider-8:target ~ .imgContainer #button8 {
    width:auto ;
    height: 400px; 
    background-color: transparent;
    filter: saturate(100%);
}
#slider-9:target ~ .imgContainer #img9,
#slider-9:target ~ .imgContainer #button9 {
    width:auto ;
    height: 400px; 
    background-color: transparent;
    filter: saturate(100%);
}
#slider-10:target ~ .imgContainer #img10,
#slider-10:target ~ .imgContainer #button10 {
    width: auto;
    height: 400px; 
    background-color: transparent;
    filter: saturate(100%);
}


 #slider-1:target ~ .imgContainer {  
    left: 60%;
}

#slider-2:target ~ .imgContainer {
    left: 40%;
}

#slider-3:target ~ .imgContainer {
    left: 20%;
}

#slider-4:target ~ .imgContainer {
    left: 0%;
}

#slider-5:target ~ .imgContainer {
    left: -20%;
}

#slider-6:target ~ .imgContainer {
    left: 0%;
    right: auto;
}

#slider-7:target ~ .imgContainer {
    left: -60%;
}

#slider-8:target ~ .imgContainer {
    left: -40%; 
}

#slider-9:target ~ .imgContainer {
    left: -20%; 
}