:root {
    --bg1-clr: #BEBAAE;
    --bg2-clr: white;
    --primary-clr: #CA0202;
    --text-clr: #000000;

    --fs-20: 2rem;
    --fs-30: 3rem;
    --fs-18: 1.8rem;
    --fs-64: 64rem;

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-900: 900;

    /* spacing */

    --section-padding: 4rem;

    /* border radius */

    --radius-circle: 50%;
    --radius-60: 6rem;
    --radius-50: 5rem;
    --radius-30: 3rem;
    --radius-20: 2rem;
    --radius-15: 1.5rem;
    --radius-5: .5rem;
    --radius-2: .2rem;

    /* transition */

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}

/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg2-clr);
    color: var(--text-clr);
    font-size: var(--fs-18);
    line-height: 1.6;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a,
img,
span,
button,
ion-icon {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}

ion-icon {
    pointer-events: none;
}
.head-section{
    text-align: center;
}
.head1-section{
    display: flex;
    justify-content: center;
}
/* Ashfiya CSS */

.home {
    display: grid;
    grid-template-columns: 45% 50%;
    place-items: center;
    gap: 50px;
    background: rgb(67, 69, 112);
    background: radial-gradient(
      circle,
      rgba(67, 69, 112, 1) 3%,
      rgba(35, 36, 57, 1) 60%
    );
    overflow: hidden;
    padding: 130px 80px;
  }
  
  .description {
    color: #fff;
    padding: 0 50px;
  }
  
  .description > h1 {
    font-family: "Tilt Neon", sans-serif;
    font-size: clamp(2.3rem, 5vw, 4rem);
    line-height: 1;
    margin-bottom: 30px;
  }
  
  .gradient-text {
    font-family: "Tilt Neon", sans-serif;
    background-image: linear-gradient(
      90deg,
      rgb(118, 167, 63) 0%,
      rgb(51, 143, 118) 40%,
      rgb(55, 141, 167) 50%,
      rgb(117, 152, 242) 70%,
      rgb(144, 118, 236) 100%
    );
    color: transparent;
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  .description > p {
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  #form {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  input {
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    background-color: transparent;
    outline: transparent;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    margin-right: 10px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
  }
  
  input::placeholder {
    color: rgb(117, 152, 242);
    opacity: 0.5;
    font-weight: 500;
  }
  
  input[type="email"] {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    font-size: 1rem;
  }
  
  input[type="email"]:focus {
    border: transparent;
    outline: 2px dotted rgb(117, 152, 242);
    outline-offset: -3px;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    max-width: max-content;
    background: linear-gradient(
      90deg,
      rgb(118, 167, 63) 0%,
      rgb(51, 143, 118) 40%,
      rgb(55, 141, 167) 50%,
      rgb(117, 152, 242) 70%,
      rgb(144, 118, 236) 100%
    );
    background-size: 200%;
    background-position: left;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border: 0;
    padding: 12px 16px;
    border-radius: 5px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5),
      inset 0px 2px 2px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in;
  }
  
  .btn:is(:hover, :focus-visible) {
    background-position: right;
  }
  
  .users-color-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
  
  .item {
    max-width: 200px;
    aspect-ratio: 1/1;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5),
      inset 0px 2px 2px rgba(255, 255, 255, 0.2);
    animation: fadeIn 0.5s linear 1 forwards;
    animation-delay: calc(0.2s * var(--i));
    opacity: 0;
  }
  
  .item:nth-child(1) {
    background-color: #67d7e1;
    border-radius: 50% 50% 0 50%;
  }
  
  .item:nth-child(2) {
    border-radius: 50% 50% 0 0;
  }
  
  .item:nth-child(3) {
    background-color: #6cc164;
    border-radius: 50%;
  }
  
  .item:nth-child(4) {
    border-radius: 0 0 0 50%;
  }
  
  .item:nth-child(5) {
    border-radius: 0 50% 50% 0;
  }
  
  .item:nth-child(6) {
    background-color: #8071a8;
    border-radius: 0 50% 50% 50%;
  }
  
  .item:nth-child(7) {
    border-radius: 50% 50% 0 50%;
  }
  
  .item:nth-child(8) {
    background-color: #fe7519;
    border-radius: 50% 0 0 50%;
  }
  
  .item:nth-child(9) {
    background-color: #f5bec3;
    border-radius: 0 50% 50% 0;
  }
  
  .item:nth-child(10) {
    border-radius: 50%;
  }
  
  .item:nth-child(11) {
    background-color: #fcd659;
    border-radius: 50% 0 50% 50%;
  }
  
  .item:nth-child(12) {
    border-radius: 50% 0 0 0;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  